@let todos = store.todos();

@if (todos.length > 0) {
  <footer class="footer">
    <app-counter />
    @let filter = store.filter();

      <ul class="filters">
        <li>
          <a routerLink="/" [class.selected]="filter === 'all'">All</a>
        </li>
        <li>
          <a routerLink="/pending" [class.selected]="filter === 'pending'"
            >Pending</a
            >
          </li>
          <li>
            <a routerLink="/completed" [class.selected]="filter === 'completed'"
              >Completed</a
              >
            </li>
          </ul>

        <app-clear-btn />
      </footer>
    }
