<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <app-new-todo (saveTodo)="onSaveTodo($event)"></app-new-todo>
  </header>
  <app-todo-list></app-todo-list>
  <app-footer
    [countTodos]="counter$ | async"
    [currentFilter]="filter$ | async"
  ></app-footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://twitter.com/nicobytes">Nicolas Molina</a></p>
  <p>
    Using <a href="https://angular.io/">Angular</a> and
    <a href="https://ngrx.github.io/">ngrx/store</a>
  </p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
