<footer id="footer" class="footer">
  <span id="todo-count" class="todo-count">{{ countTodos }} items left</span>
  <ul id="filters" class="filters">
    <li>
      <a routerLink="/" [class.selected]="currentFilter == 'all'">
        All
      </a>
    </li>
    <li>
      <a routerLink="/active" [class.selected]="currentFilter == 'active'">
        Active
      </a>
    </li>
    <li>
      <a
        routerLink="/completed"
        [class.selected]="currentFilter == 'completed'"
      >
        Completed
      </a>
    </li>
  </ul>
  <!-- <button
    id="clear-completed"
    class="clear-completed"
    (click)="clearCompleted()"
  >
    Clear completed
  </button> -->
</footer>
