<section id="main" class="main" *ngIf="todos$ | async as todos">
  <!-- <div class="toogle-view" *ngIf="todos.length > 0">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [formControl]="checkField"
    />
    <label (click)="toggleAll()">Mark all as complete</label>
  </div> -->
  <ul id="todo-list" class="todo-list">
    <app-todo
      (update)="onUpdate($event)"
      (delete)="onDelete($event)"
      [todo]="todo"
      *ngFor="let todo of todos"
    ></app-todo>
  </ul>
</section>
