/* You can add global styles to this file, and also import other style files */
@import '~todomvc-common/base.css';
@import '~todomvc-app-css/index.css';


.todo-list li a.detail {
  position: absolute;
  top: 0;
  right: 40px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  line-height: 40px;
  font-size: 30px;
  color: #5DC1AE;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  text-decoration: none;
}
